/*
 * SPDX-FileCopyrightText: Copyright (c) 2026 Cherrence Sarip <cherrence.sarip@analog.com>
 * SPDX-License-Identifier: Apache-2.0
 */

/* Overlay for Nucleo H563ZI: TMC6460 on SPI1, CS on PA4. */

&spi1 {
	status = "okay";

	cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;

	tmc6460: tmc6460@0 {
		compatible = "adi,tmc6460";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};
